<!--The content below is only a placeholder and can be replaced.-->
<table *ngIf="false">
  <tr>
      <td>Topic: </td>
      <td><input [(ngModel)]="topicname" type="text" /></td>
      <td><button type="button" (click)="subscribeNewTopic()">Subscribe Topic</button></td>
  </tr>
  <tr>
      <td>Message: </td>
      <td><input [(ngModel)]="msg" type="text" /></td>
      <td><button type="button" (click)="sendmsg()">Send</button></td>
  </tr>
  <tr>
      <td></td>
      <td>&nbsp;&nbsp;<button type="button" (click)="clear()">Clear Log</button></td>
      <td></td>
  </tr>
</table>
<br /><br />
<div #msglog>
</div>
<div class="container text-center " style="background-color: #7f7f70;">
  <div class="row ">
    <div class="col-3 px-0"  style="width:100px "><button class="btn p-0"><img src="../assets/parkingC11.jpg" alt=""> </button></div>
    <div class="col-3 px-0"  style="width:100px "><button class="btn p-0"><img src="../assets/parkingC12.jpg" alt=""></button></div>
    <div class="col-3 px-0"  style="width:100px "><button class="btn p-0"><img src="../assets/parkingTopE1.jpg" alt=""></button></div>
    <div class="col-3 px-0"  style="width:100px "><button class="btn p-0"><img src="../assets/parkingTopE.jpg" alt=""></button></div>
  </div>
  <div class="row ">
    <div class="col-9 mb-0" ><img src="../assets/street.JPG" alt=""></div>
    
  </div>
  <div class="row ">
    <div class="col-3 px-0"  style="width:100px "><button class="btn p-0"><img src="../assets/parkingC21.jpg" alt=""></button></div>
    <div class="col-3 px-0"  style="width:100px "><button class="btn p-0"><img src="../assets/parkingC22.jpg" alt=""></button></div>
    <div class="col-3 px-0"  style="width:100px "><button class="btn p-0"><img src="../assets/parkingButtomE.jpg" alt=""></button></div>
    <div class="col-3 px-0"  style="width:100px "><button class="btn p-0"><img src="../assets/parkingButtomE1.jpg" alt=""></button></div>
  </div>
</div>

<router-outlet></router-outlet>
