<!--The content below is only a placeholder and can be replaced.-->
<table>
  <tr>
      <td>Topic: </td>
      <td><input [(ngModel)]="topicname" type="text" /></td>
      <td><button type="button" (click)="subscribeNewTopic()">Subscribe Topic</button></td>
  </tr>
  <tr>
      <td>Message: </td>
      <td><input [(ngModel)]="msg" type="text" /></td>
      <td><button type="button" (click)="sendmsg()">Send</button></td>
  </tr>
  <tr>
      <td></td>
      <td>&nbsp;&nbsp;<button type="button" (click)="clear()">Clear Log</button></td>
      <td></td>
  </tr>
</table>
<br /><br />
<div #msglog>
</div>


<div class="container text-center p-0" style="background-color: lightslategrey;">
  <div class="row">
    <div class="col-4"  style="width:100px ;height: 300px;"><button class=""><img src="../assets/parkingTop.jpg" alt=""></button></div>
    <div class="col-4"  style="width:100px ;height: 300px;"><button class=""><img src="../assets/parkingTop.jpg" alt=""></button></div>
    <div class="col-4"  style="width:100px ;height: 300px;"><button class=""><img src="../assets/parkingTop.jpg" alt=""></button></div>
  </div>
  <div class="row">
    <div class="col-12" style="width:100px ;height: 300px; ">.</div>
    
  </div>
  <div class="row">
    <div class="col-4"  style="width:100px ;height: 300px;"><button class=""><img src="../assets/parkingButtom.jpg" alt=""></button></div>
    <div class="col-4"  style="width:100px ;height: 300px;"><button class=""><img src="../assets/parkingButtom.jpg" alt=""></button></div>
    <div class="col-4"  style="width:100px ;height: 300px;"><button class=""><img src="../assets/parkingButtom.jpg" alt=""></button></div>
  </div>
</div>

<router-outlet></router-outlet>
